#s-4be65b05-1c9e-494f-9955-f2d8dca3c8c0 > #backgroundBox {
  background-color: #EFEFEF;
  position: absolute;
}
#s-4be65b05-1c9e-494f-9955-f2d8dca3c8c0 > #alignmentBox {
  position: relative;
  max-width: 375.0px;
  max-height: 812.0px;
  width: 100%;
  height: 100%;
}
#s-4be65b05-1c9e-494f-9955-f2d8dca3c8c0 #s-Path_4 {
  position: absolute;
  width: 29.63774299621582px;
  height: 21.63180160522461px;
}
#s-4be65b05-1c9e-494f-9955-f2d8dca3c8c0 #s-Paragraph_2 {
  position: absolute;
  width: 180.34375px;
  min-height: 31.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Bold_wgt700',Arial;
}
#s-4be65b05-1c9e-494f-9955-f2d8dca3c8c0 #s-Paragraph_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-4be65b05-1c9e-494f-9955-f2d8dca3c8c0 #s-Paragraph_2 .valign {
  vertical-align: top;
  text-align: center;
}
#s-4be65b05-1c9e-494f-9955-f2d8dca3c8c0 #s-Paragraph_2 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold_wgt700',Arial;
  font-size: 18.0pt;
}
#s-4be65b05-1c9e-494f-9955-f2d8dca3c8c0 #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Bold_wgt700',Arial;
  font-size: 18.0pt;
}
#s-4be65b05-1c9e-494f-9955-f2d8dca3c8c0 #s-Path_5 {
  position: absolute;
  width: 380.1427917480469px;
  height: 2.0px;
}
#s-4be65b05-1c9e-494f-9955-f2d8dca3c8c0 #s-Rectangle_4 {
  position: absolute;
  width: 342.99999999999926px;
  min-height: 161.17009848369378px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-4be65b05-1c9e-494f-9955-f2d8dca3c8c0 #s-Rectangle_4 > .backgroundLayer {
  border-top-left-radius: 11.0px;
  border-top-right-radius: 11.0px;
  border-bottom-right-radius: 11.0px;
  border-bottom-left-radius: 11.0px;
}
#s-4be65b05-1c9e-494f-9955-f2d8dca3c8c0 #s-Rectangle_4 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-4be65b05-1c9e-494f-9955-f2d8dca3c8c0 #s-Rectangle_4 > .borderLayer {
  border-top-left-radius: 11.0px;
  border-top-right-radius: 11.0px;
  border-bottom-right-radius: 11.0px;
  border-bottom-left-radius: 11.0px;
}
#s-4be65b05-1c9e-494f-9955-f2d8dca3c8c0 #s-Rectangle_4 > .backgroundLayer {
  border-top-left-radius: 11.0px;
  border-top-right-radius: 11.0px;
  border-bottom-right-radius: 11.0px;
  border-bottom-left-radius: 11.0px;
}
#s-4be65b05-1c9e-494f-9955-f2d8dca3c8c0 #s-Rectangle_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-4be65b05-1c9e-494f-9955-f2d8dca3c8c0 #s-Rectangle_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4be65b05-1c9e-494f-9955-f2d8dca3c8c0 #s-Rectangle_4 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-4be65b05-1c9e-494f-9955-f2d8dca3c8c0 #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-4be65b05-1c9e-494f-9955-f2d8dca3c8c0 #s-Paragraph_1 {
  position: absolute;
  width: 151.9541015625px;
  min-height: 60.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Bold_wgt700',Arial;
}
#s-4be65b05-1c9e-494f-9955-f2d8dca3c8c0 #s-Paragraph_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-4be65b05-1c9e-494f-9955-f2d8dca3c8c0 #s-Paragraph_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4be65b05-1c9e-494f-9955-f2d8dca3c8c0 #s-Paragraph_1 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold_wgt700',Arial;
  font-size: 13.5pt;
}
#s-4be65b05-1c9e-494f-9955-f2d8dca3c8c0 #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Bold_wgt700',Arial;
  font-size: 13.5pt;
}
#s-4be65b05-1c9e-494f-9955-f2d8dca3c8c0 #s-Path_3 {
  position: absolute;
  width: 8.973699569702148px;
  height: 15.591798782348633px;
}
#s-4be65b05-1c9e-494f-9955-f2d8dca3c8c0 #s-Rectangle_2 {
  position: absolute;
  width: 342.9999999999992px;
  min-height: 122.170098483694px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-4be65b05-1c9e-494f-9955-f2d8dca3c8c0 #s-Rectangle_2 > .backgroundLayer {
  border-top-left-radius: 11.0px;
  border-top-right-radius: 11.0px;
  border-bottom-right-radius: 11.0px;
  border-bottom-left-radius: 11.0px;
}
#s-4be65b05-1c9e-494f-9955-f2d8dca3c8c0 #s-Rectangle_2 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-4be65b05-1c9e-494f-9955-f2d8dca3c8c0 #s-Rectangle_2 > .borderLayer {
  border-top-left-radius: 11.0px;
  border-top-right-radius: 11.0px;
  border-bottom-right-radius: 11.0px;
  border-bottom-left-radius: 11.0px;
}
#s-4be65b05-1c9e-494f-9955-f2d8dca3c8c0 #s-Rectangle_2 > .backgroundLayer {
  border-top-left-radius: 11.0px;
  border-top-right-radius: 11.0px;
  border-bottom-right-radius: 11.0px;
  border-bottom-left-radius: 11.0px;
}
#s-4be65b05-1c9e-494f-9955-f2d8dca3c8c0 #s-Rectangle_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-4be65b05-1c9e-494f-9955-f2d8dca3c8c0 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4be65b05-1c9e-494f-9955-f2d8dca3c8c0 #s-Rectangle_2 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-4be65b05-1c9e-494f-9955-f2d8dca3c8c0 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-4be65b05-1c9e-494f-9955-f2d8dca3c8c0 #s-Paragraph_3 {
  position: absolute;
  width: 217.9541015625px;
  min-height: 62.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Bold_wgt700',Arial;
}
#s-4be65b05-1c9e-494f-9955-f2d8dca3c8c0 #s-Paragraph_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-4be65b05-1c9e-494f-9955-f2d8dca3c8c0 #s-Paragraph_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4be65b05-1c9e-494f-9955-f2d8dca3c8c0 #s-Paragraph_3 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold_wgt700',Arial;
  font-size: 13.5pt;
}
#s-4be65b05-1c9e-494f-9955-f2d8dca3c8c0 #s-Paragraph_3 span#rtr-s-Paragraph_3_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Bold_wgt700',Arial;
  font-size: 13.5pt;
}
#s-4be65b05-1c9e-494f-9955-f2d8dca3c8c0 #s-Path_8 {
  position: absolute;
  width: 8.973699569702148px;
  height: 15.591798782348633px;
}
#s-4be65b05-1c9e-494f-9955-f2d8dca3c8c0 #s-Paragraph_5 {
  position: absolute;
  width: 230.9541015625001px;
  min-height: 60.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Bold_wgt700',Arial;
}
#s-4be65b05-1c9e-494f-9955-f2d8dca3c8c0 #s-Paragraph_5 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-4be65b05-1c9e-494f-9955-f2d8dca3c8c0 #s-Paragraph_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4be65b05-1c9e-494f-9955-f2d8dca3c8c0 #s-Paragraph_5 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold_wgt700',Arial;
  font-size: 13.5pt;
}
#s-4be65b05-1c9e-494f-9955-f2d8dca3c8c0 #s-Paragraph_5 span#rtr-s-Paragraph_5_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Bold_wgt700',Arial;
  font-size: 13.5pt;
}
#s-4be65b05-1c9e-494f-9955-f2d8dca3c8c0 #s-Path_7 {
  position: absolute;
  width: 8.973699569702148px;
  height: 15.591798782348633px;
}
#s-4be65b05-1c9e-494f-9955-f2d8dca3c8c0 #s-Rectangle_6 {
  position: absolute;
  width: 342.99999999999955px;
  min-height: 84.17009848369395px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-4be65b05-1c9e-494f-9955-f2d8dca3c8c0 #s-Rectangle_6 > .backgroundLayer {
  border-top-left-radius: 11.0px;
  border-top-right-radius: 11.0px;
  border-bottom-right-radius: 11.0px;
  border-bottom-left-radius: 11.0px;
}
#s-4be65b05-1c9e-494f-9955-f2d8dca3c8c0 #s-Rectangle_6 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-4be65b05-1c9e-494f-9955-f2d8dca3c8c0 #s-Rectangle_6 > .borderLayer {
  border-top-left-radius: 11.0px;
  border-top-right-radius: 11.0px;
  border-bottom-right-radius: 11.0px;
  border-bottom-left-radius: 11.0px;
}
#s-4be65b05-1c9e-494f-9955-f2d8dca3c8c0 #s-Rectangle_6 > .backgroundLayer {
  border-top-left-radius: 11.0px;
  border-top-right-radius: 11.0px;
  border-bottom-right-radius: 11.0px;
  border-bottom-left-radius: 11.0px;
}
#s-4be65b05-1c9e-494f-9955-f2d8dca3c8c0 #s-Rectangle_6 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-4be65b05-1c9e-494f-9955-f2d8dca3c8c0 #s-Rectangle_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4be65b05-1c9e-494f-9955-f2d8dca3c8c0 #s-Rectangle_6 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-4be65b05-1c9e-494f-9955-f2d8dca3c8c0 #s-Rectangle_6 span#rtr-s-Rectangle_6_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-4be65b05-1c9e-494f-9955-f2d8dca3c8c0 #s-Paragraph_7 {
  position: absolute;
  width: 217.9541015625px;
  min-height: 23.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Bold_wgt700',Arial;
}
#s-4be65b05-1c9e-494f-9955-f2d8dca3c8c0 #s-Paragraph_7 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-4be65b05-1c9e-494f-9955-f2d8dca3c8c0 #s-Paragraph_7 .valign {
  vertical-align: top;
  text-align: left;
}
#s-4be65b05-1c9e-494f-9955-f2d8dca3c8c0 #s-Paragraph_7 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold_wgt700',Arial;
  font-size: 13.5pt;
}
#s-4be65b05-1c9e-494f-9955-f2d8dca3c8c0 #s-Paragraph_7 span#rtr-s-Paragraph_7_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Bold_wgt700',Arial;
  font-size: 13.5pt;
}
#s-4be65b05-1c9e-494f-9955-f2d8dca3c8c0 #s-Path_10 {
  position: absolute;
  width: 8.973699569702148px;
  height: 15.591798782348633px;
}
#s-4be65b05-1c9e-494f-9955-f2d8dca3c8c0 #s-Paragraph_8 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}
#s-4be65b05-1c9e-494f-9955-f2d8dca3c8c0 #s-Paragraph_8 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-4be65b05-1c9e-494f-9955-f2d8dca3c8c0 #s-Paragraph_8 .valign {
  vertical-align: top;
  text-align: right;
}
#s-4be65b05-1c9e-494f-9955-f2d8dca3c8c0 #s-Paragraph_8 span {
  color: #4F4F4F;
  text-align: right;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.0pt;
}
#s-4be65b05-1c9e-494f-9955-f2d8dca3c8c0 #s-Paragraph_8 span#rtr-s-Paragraph_8_0 {
  color: #4F4F4F;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.0pt;
}
#s-4be65b05-1c9e-494f-9955-f2d8dca3c8c0 #s-Paragraph_6 {
  position: absolute;
  width: 230.95410156250023px;
  min-height: 23.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}
#s-4be65b05-1c9e-494f-9955-f2d8dca3c8c0 #s-Paragraph_6 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-4be65b05-1c9e-494f-9955-f2d8dca3c8c0 #s-Paragraph_6 .valign {
  vertical-align: top;
  text-align: left;
}
#s-4be65b05-1c9e-494f-9955-f2d8dca3c8c0 #s-Paragraph_6 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.0pt;
}
#s-4be65b05-1c9e-494f-9955-f2d8dca3c8c0 #s-Paragraph_6 span#rtr-s-Paragraph_6_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.0pt;
}
#s-4be65b05-1c9e-494f-9955-f2d8dca3c8c0 #s-Paragraph_11 {
  position: absolute;
  width: 217.9541015625px;
  min-height: 61.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Bold_wgt700',Arial;
}
#s-4be65b05-1c9e-494f-9955-f2d8dca3c8c0 #s-Paragraph_11 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-4be65b05-1c9e-494f-9955-f2d8dca3c8c0 #s-Paragraph_11 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4be65b05-1c9e-494f-9955-f2d8dca3c8c0 #s-Paragraph_11 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold_wgt700',Arial;
  font-size: 13.5pt;
}
#s-4be65b05-1c9e-494f-9955-f2d8dca3c8c0 #s-Paragraph_11 span#rtr-s-Paragraph_11_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Bold_wgt700',Arial;
  font-size: 13.5pt;
}
#s-4be65b05-1c9e-494f-9955-f2d8dca3c8c0 #s-Path_9 {
  position: absolute;
  width: 8.973699569702148px;
  height: 15.591798782348633px;
}
#s-4be65b05-1c9e-494f-9955-f2d8dca3c8c0 #s-Rectangle_1 {
  position: absolute;
  width: 342.99999999999955px;
  min-height: 84.17009848369395px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-4be65b05-1c9e-494f-9955-f2d8dca3c8c0 #s-Rectangle_1 > .backgroundLayer {
  border-top-left-radius: 11.0px;
  border-top-right-radius: 11.0px;
  border-bottom-right-radius: 11.0px;
  border-bottom-left-radius: 11.0px;
}
#s-4be65b05-1c9e-494f-9955-f2d8dca3c8c0 #s-Rectangle_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-4be65b05-1c9e-494f-9955-f2d8dca3c8c0 #s-Rectangle_1 > .borderLayer {
  border-top-left-radius: 11.0px;
  border-top-right-radius: 11.0px;
  border-bottom-right-radius: 11.0px;
  border-bottom-left-radius: 11.0px;
}
#s-4be65b05-1c9e-494f-9955-f2d8dca3c8c0 #s-Rectangle_1 > .backgroundLayer {
  border-top-left-radius: 11.0px;
  border-top-right-radius: 11.0px;
  border-bottom-right-radius: 11.0px;
  border-bottom-left-radius: 11.0px;
}
#s-4be65b05-1c9e-494f-9955-f2d8dca3c8c0 #s-Rectangle_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-4be65b05-1c9e-494f-9955-f2d8dca3c8c0 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4be65b05-1c9e-494f-9955-f2d8dca3c8c0 #s-Rectangle_1 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-4be65b05-1c9e-494f-9955-f2d8dca3c8c0 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-4be65b05-1c9e-494f-9955-f2d8dca3c8c0 #s-Paragraph_4 {
  position: absolute;
  width: 217.9541015625px;
  min-height: 23.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Bold_wgt700',Arial;
}
#s-4be65b05-1c9e-494f-9955-f2d8dca3c8c0 #s-Paragraph_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-4be65b05-1c9e-494f-9955-f2d8dca3c8c0 #s-Paragraph_4 .valign {
  vertical-align: top;
  text-align: left;
}
#s-4be65b05-1c9e-494f-9955-f2d8dca3c8c0 #s-Paragraph_4 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold_wgt700',Arial;
  font-size: 13.5pt;
}
#s-4be65b05-1c9e-494f-9955-f2d8dca3c8c0 #s-Paragraph_4 span#rtr-s-Paragraph_4_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Bold_wgt700',Arial;
  font-size: 13.5pt;
}
#s-4be65b05-1c9e-494f-9955-f2d8dca3c8c0 #s-Path_6 {
  position: absolute;
  width: 8.973699569702148px;
  height: 15.591798782348633px;
}
#s-4be65b05-1c9e-494f-9955-f2d8dca3c8c0 #s-Paragraph_9 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}
#s-4be65b05-1c9e-494f-9955-f2d8dca3c8c0 #s-Paragraph_9 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-4be65b05-1c9e-494f-9955-f2d8dca3c8c0 #s-Paragraph_9 .valign {
  vertical-align: top;
  text-align: right;
}
#s-4be65b05-1c9e-494f-9955-f2d8dca3c8c0 #s-Paragraph_9 span {
  color: #4F4F4F;
  text-align: right;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.0pt;
}
#s-4be65b05-1c9e-494f-9955-f2d8dca3c8c0 #s-Paragraph_9 span#rtr-s-Paragraph_9_0 {
  color: #4F4F4F;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.0pt;
}
#s-4be65b05-1c9e-494f-9955-f2d8dca3c8c0 #s-Path_11 {
  position: absolute;
  width: 286.5627746582031px;
  height: 2.0px;
}
#s-4be65b05-1c9e-494f-9955-f2d8dca3c8c0 #s-Path_12 {
  position: absolute;
  width: 286.5627746582031px;
  height: 2.0px;
}
#s-4be65b05-1c9e-494f-9955-f2d8dca3c8c0 #shapewrapper-s-Ellipse_1 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-4be65b05-1c9e-494f-9955-f2d8dca3c8c0 #shapewrapper-s-Ellipse_1 .content {
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-4be65b05-1c9e-494f-9955-f2d8dca3c8c0 #shapewrapper-s-Ellipse_1 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-4be65b05-1c9e-494f-9955-f2d8dca3c8c0 #s-Ellipse_1 {
  width: 46.0px;
  height: 46.0px;
  min-height: 46.0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#s-4be65b05-1c9e-494f-9955-f2d8dca3c8c0 #shapewrapper-s-Ellipse_1 > .backgroundLayer > .colorLayer {
  background-color: #767676;
}
#s-4be65b05-1c9e-494f-9955-f2d8dca3c8c0 #shapewrapper-s-Ellipse_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4be65b05-1c9e-494f-9955-f2d8dca3c8c0 #shapewrapper-s-Ellipse_1 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-4be65b05-1c9e-494f-9955-f2d8dca3c8c0 #shapewrapper-s-Ellipse_1 span#rtr-s-Ellipse_1_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-4be65b05-1c9e-494f-9955-f2d8dca3c8c0 #s-Rectangle_3 {
  position: absolute;
  width: 45.318870306015015px;
  min-height: 41.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-4be65b05-1c9e-494f-9955-f2d8dca3c8c0 #s-Rectangle_3 > .backgroundLayer > .colorLayer {
  background-color: #EFEFEF;
}
#s-4be65b05-1c9e-494f-9955-f2d8dca3c8c0 #s-Rectangle_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-4be65b05-1c9e-494f-9955-f2d8dca3c8c0 #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4be65b05-1c9e-494f-9955-f2d8dca3c8c0 #s-Rectangle_3 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-4be65b05-1c9e-494f-9955-f2d8dca3c8c0 #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-4be65b05-1c9e-494f-9955-f2d8dca3c8c0 #s-Rectangle_5 {
  position: absolute;
  width: 45.318870306015015px;
  min-height: 41.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-4be65b05-1c9e-494f-9955-f2d8dca3c8c0 #s-Rectangle_5 > .backgroundLayer > .colorLayer {
  background-color: #EFEFEF;
}
#s-4be65b05-1c9e-494f-9955-f2d8dca3c8c0 #s-Rectangle_5 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-4be65b05-1c9e-494f-9955-f2d8dca3c8c0 #s-Rectangle_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4be65b05-1c9e-494f-9955-f2d8dca3c8c0 #s-Rectangle_5 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-4be65b05-1c9e-494f-9955-f2d8dca3c8c0 #s-Rectangle_5 span#rtr-s-Rectangle_5_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-4be65b05-1c9e-494f-9955-f2d8dca3c8c0 #s-Rectangle_7 {
  position: absolute;
  width: 45.318870306015015px;
  min-height: 41.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-4be65b05-1c9e-494f-9955-f2d8dca3c8c0 #s-Rectangle_7 > .backgroundLayer > .colorLayer {
  background-color: #EFEFEF;
}
#s-4be65b05-1c9e-494f-9955-f2d8dca3c8c0 #s-Rectangle_7 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-4be65b05-1c9e-494f-9955-f2d8dca3c8c0 #s-Rectangle_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4be65b05-1c9e-494f-9955-f2d8dca3c8c0 #s-Rectangle_7 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-4be65b05-1c9e-494f-9955-f2d8dca3c8c0 #s-Rectangle_7 span#rtr-s-Rectangle_7_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-4be65b05-1c9e-494f-9955-f2d8dca3c8c0 #s-Rectangle_8 {
  position: absolute;
  width: 45.318870306015015px;
  min-height: 41.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-4be65b05-1c9e-494f-9955-f2d8dca3c8c0 #s-Rectangle_8 > .backgroundLayer > .colorLayer {
  background-color: #EFEFEF;
}
#s-4be65b05-1c9e-494f-9955-f2d8dca3c8c0 #s-Rectangle_8 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-4be65b05-1c9e-494f-9955-f2d8dca3c8c0 #s-Rectangle_8 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4be65b05-1c9e-494f-9955-f2d8dca3c8c0 #s-Rectangle_8 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-4be65b05-1c9e-494f-9955-f2d8dca3c8c0 #s-Rectangle_8 span#rtr-s-Rectangle_8_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-4be65b05-1c9e-494f-9955-f2d8dca3c8c0 #s-Rectangle_9 {
  position: absolute;
  width: 45.318870306015015px;
  min-height: 41.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-4be65b05-1c9e-494f-9955-f2d8dca3c8c0 #s-Rectangle_9 > .backgroundLayer > .colorLayer {
  background-color: #EFEFEF;
}
#s-4be65b05-1c9e-494f-9955-f2d8dca3c8c0 #s-Rectangle_9 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-4be65b05-1c9e-494f-9955-f2d8dca3c8c0 #s-Rectangle_9 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4be65b05-1c9e-494f-9955-f2d8dca3c8c0 #s-Rectangle_9 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-4be65b05-1c9e-494f-9955-f2d8dca3c8c0 #s-Rectangle_9 span#rtr-s-Rectangle_9_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-4be65b05-1c9e-494f-9955-f2d8dca3c8c0 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}