#s-b56c4295-dd0e-4567-89dc-16af9faa6e32 > #backgroundBox {
  position: absolute;
}
#s-b56c4295-dd0e-4567-89dc-16af9faa6e32 > #alignmentBox {
  position: relative;
  max-width: 375.0px;
  max-height: 812.0px;
  width: 100%;
  height: 100%;
}
#s-b56c4295-dd0e-4567-89dc-16af9faa6e32 #s-Paragraph_1 {
  position: absolute;
  width: 219.5968761444094px;
  min-height: 42.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-b56c4295-dd0e-4567-89dc-16af9faa6e32 #s-Paragraph_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-b56c4295-dd0e-4567-89dc-16af9faa6e32 #s-Paragraph_1 .valign {
  vertical-align: top;
  text-align: center;
}
#s-b56c4295-dd0e-4567-89dc-16af9faa6e32 #s-Paragraph_1 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-b56c4295-dd0e-4567-89dc-16af9faa6e32 #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-b56c4295-dd0e-4567-89dc-16af9faa6e32 #s-Path_1 {
  position: absolute;
  width: 380.1427917480469px;
  height: 2.0px;
}
#s-b56c4295-dd0e-4567-89dc-16af9faa6e32 .s-Category_2 .line_options.selected {
  background-color: #000000 !important;
}
#s-b56c4295-dd0e-4567-89dc-16af9faa6e32 .s-Category_2 .selected > .options {
  color: #FFFFFF !important;
}
#s-b56c4295-dd0e-4567-89dc-16af9faa6e32 .s-Category_2 .line_options:hover {
  background-color: #000000 !important;
}
#s-b56c4295-dd0e-4567-89dc-16af9faa6e32 .s-Category_2 .line_options:hover > .options {
  color: #FFFFFF !important;
}
#s-b56c4295-dd0e-4567-89dc-16af9faa6e32 #s-Category_2 > .dropdown-options {
  width: calc(100%);
  height: calc(100%);
}
#s-b56c4295-dd0e-4567-89dc-16af9faa6e32 #s-Category_2 {
  position: absolute;
  width: 120.51542854309116px;
  height: 41.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  vertical-align: middle;
}
#s-b56c4295-dd0e-4567-89dc-16af9faa6e32 #s-Category_2 > .backgroundLayer {
  border-top-left-radius: 9.0px;
  border-top-right-radius: 9.0px;
  border-bottom-right-radius: 9.0px;
  border-bottom-left-radius: 9.0px;
}
#s-b56c4295-dd0e-4567-89dc-16af9faa6e32 #s-Category_2 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-b56c4295-dd0e-4567-89dc-16af9faa6e32 #s-Category_2 > .borderLayer {
  border-top-width: 1.5px;
  border-top-style: solid;
  border-top-color: #E5E5EA;
  border-right-width: 1.5px;
  border-right-style: solid;
  border-right-color: #E5E5EA;
  border-bottom-width: 1.5px;
  border-bottom-style: solid;
  border-bottom-color: #E5E5EA;
  border-left-width: 1.5px;
  border-left-style: solid;
  border-left-color: #E5E5EA;
  border-top-left-radius: 9.0px;
  border-top-right-radius: 9.0px;
  border-bottom-right-radius: 9.0px;
  border-bottom-left-radius: 9.0px;
}
#s-b56c4295-dd0e-4567-89dc-16af9faa6e32 #s-Category_2 > .backgroundLayer {
  border-top-left-radius: 9.0px;
  border-top-right-radius: 9.0px;
  border-bottom-right-radius: 9.0px;
  border-bottom-left-radius: 9.0px;
}
#s-b56c4295-dd0e-4567-89dc-16af9faa6e32 #s-Category_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 8px;
  padding-bottom: 0px;
  padding-left: 13px;
}
#s-b56c4295-dd0e-4567-89dc-16af9faa6e32 .s-Category_1 .line_options.selected {
  background-color: #000000 !important;
}
#s-b56c4295-dd0e-4567-89dc-16af9faa6e32 .s-Category_1 .selected > .options {
  color: #FFFFFF !important;
}
#s-b56c4295-dd0e-4567-89dc-16af9faa6e32 .s-Category_1 .line_options:hover {
  background-color: #000000 !important;
}
#s-b56c4295-dd0e-4567-89dc-16af9faa6e32 .s-Category_1 .line_options:hover > .options {
  color: #FFFFFF !important;
}
#s-b56c4295-dd0e-4567-89dc-16af9faa6e32 #s-Category_1 > .dropdown-options {
  width: calc(100%);
  height: calc(100%);
}
#s-b56c4295-dd0e-4567-89dc-16af9faa6e32 #s-Category_1 {
  position: absolute;
  width: 120.51542854309116px;
  height: 41.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  vertical-align: middle;
}
#s-b56c4295-dd0e-4567-89dc-16af9faa6e32 #s-Category_1 > .backgroundLayer {
  border-top-left-radius: 9.0px;
  border-top-right-radius: 9.0px;
  border-bottom-right-radius: 9.0px;
  border-bottom-left-radius: 9.0px;
}
#s-b56c4295-dd0e-4567-89dc-16af9faa6e32 #s-Category_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-b56c4295-dd0e-4567-89dc-16af9faa6e32 #s-Category_1 > .borderLayer {
  border-top-width: 1.5px;
  border-top-style: solid;
  border-top-color: #E5E5EA;
  border-right-width: 1.5px;
  border-right-style: solid;
  border-right-color: #E5E5EA;
  border-bottom-width: 1.5px;
  border-bottom-style: solid;
  border-bottom-color: #E5E5EA;
  border-left-width: 1.5px;
  border-left-style: solid;
  border-left-color: #E5E5EA;
  border-top-left-radius: 9.0px;
  border-top-right-radius: 9.0px;
  border-bottom-right-radius: 9.0px;
  border-bottom-left-radius: 9.0px;
}
#s-b56c4295-dd0e-4567-89dc-16af9faa6e32 #s-Category_1 > .backgroundLayer {
  border-top-left-radius: 9.0px;
  border-top-right-radius: 9.0px;
  border-bottom-right-radius: 9.0px;
  border-bottom-left-radius: 9.0px;
}
#s-b56c4295-dd0e-4567-89dc-16af9faa6e32 #s-Category_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 8px;
  padding-bottom: 0px;
  padding-left: 13px;
}
#s-b56c4295-dd0e-4567-89dc-16af9faa6e32 #s-Path_4 {
  position: absolute;
  width: 2.0px;
  height: 163.06582641601562px;
}
#s-b56c4295-dd0e-4567-89dc-16af9faa6e32 #s-Path_8 {
  position: absolute;
  width: 2.0px;
  height: 162.96517944335938px;
}
#s-b56c4295-dd0e-4567-89dc-16af9faa6e32 #s-Path_9 {
  position: absolute;
  width: 2.0px;
  height: 164.07119750976562px;
}
#s-b56c4295-dd0e-4567-89dc-16af9faa6e32 #s-Path_12 {
  position: absolute;
  width: 2.0px;
  height: 164.13015747070312px;
}
#s-b56c4295-dd0e-4567-89dc-16af9faa6e32 #s-Path_13 {
  position: absolute;
  width: 2.0px;
  height: 163.83584594726562px;
}
#s-b56c4295-dd0e-4567-89dc-16af9faa6e32 #s-Path_14 {
  position: absolute;
  width: 2.0px;
  height: 163.59219360351562px;
}
#s-b56c4295-dd0e-4567-89dc-16af9faa6e32 #s-Path_15 {
  position: absolute;
  width: 2.0px;
  height: 163.75765991210938px;
}
#s-b56c4295-dd0e-4567-89dc-16af9faa6e32 #s-Path_2 {
  position: absolute;
  width: 216.96414184570312px;
  height: 142.60357666015625px;
}
#s-b56c4295-dd0e-4567-89dc-16af9faa6e32 #s-Path_3 {
  position: absolute;
  width: 219.1104278564453px;
  height: 85.59406280517578px;
}
#s-b56c4295-dd0e-4567-89dc-16af9faa6e32 #s-Paragraph_12 {
  position: absolute;
  width: 19.000000000000114px;
  min-height: 14.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat-Medium_wgt500',Arial;
}
#s-b56c4295-dd0e-4567-89dc-16af9faa6e32 #s-Paragraph_12 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-b56c4295-dd0e-4567-89dc-16af9faa6e32 #s-Paragraph_12 .valign {
  vertical-align: top;
  text-align: center;
}
#s-b56c4295-dd0e-4567-89dc-16af9faa6e32 #s-Paragraph_12 span {
  color: #7F939C;
  text-align: center;
  text-decoration: none;
  font-family: 'Montserrat-Medium_wgt500',Arial;
  font-size: 9.0pt;
}
#s-b56c4295-dd0e-4567-89dc-16af9faa6e32 #s-Paragraph_12 span#rtr-s-Paragraph_12_0 {
  color: #7F939C;
  text-decoration: none;
  font-family: 'Montserrat-Medium_wgt500',Arial;
  font-size: 9.0pt;
}
#s-b56c4295-dd0e-4567-89dc-16af9faa6e32 #s-Paragraph_13 {
  position: absolute;
  width: 19.0px;
  min-height: 14.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat-Medium_wgt500',Arial;
}
#s-b56c4295-dd0e-4567-89dc-16af9faa6e32 #s-Paragraph_13 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-b56c4295-dd0e-4567-89dc-16af9faa6e32 #s-Paragraph_13 .valign {
  vertical-align: top;
  text-align: center;
}
#s-b56c4295-dd0e-4567-89dc-16af9faa6e32 #s-Paragraph_13 span {
  color: #7F939C;
  text-align: center;
  text-decoration: none;
  font-family: 'Montserrat-Medium_wgt500',Arial;
  font-size: 9.0pt;
}
#s-b56c4295-dd0e-4567-89dc-16af9faa6e32 #s-Paragraph_13 span#rtr-s-Paragraph_13_0 {
  color: #7F939C;
  text-decoration: none;
  font-family: 'Montserrat-Medium_wgt500',Arial;
  font-size: 9.0pt;
}
#s-b56c4295-dd0e-4567-89dc-16af9faa6e32 #s-Paragraph_14 {
  position: absolute;
  width: 19.0px;
  min-height: 14.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat-Medium_wgt500',Arial;
}
#s-b56c4295-dd0e-4567-89dc-16af9faa6e32 #s-Paragraph_14 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-b56c4295-dd0e-4567-89dc-16af9faa6e32 #s-Paragraph_14 .valign {
  vertical-align: top;
  text-align: center;
}
#s-b56c4295-dd0e-4567-89dc-16af9faa6e32 #s-Paragraph_14 span {
  color: #7F939C;
  text-align: center;
  text-decoration: none;
  font-family: 'Montserrat-Medium_wgt500',Arial;
  font-size: 9.0pt;
}
#s-b56c4295-dd0e-4567-89dc-16af9faa6e32 #s-Paragraph_14 span#rtr-s-Paragraph_14_0 {
  color: #7F939C;
  text-decoration: none;
  font-family: 'Montserrat-Medium_wgt500',Arial;
  font-size: 9.0pt;
}
#s-b56c4295-dd0e-4567-89dc-16af9faa6e32 #s-Paragraph_16 {
  position: absolute;
  width: 19.0px;
  min-height: 28.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat-Medium_wgt500',Arial;
}
#s-b56c4295-dd0e-4567-89dc-16af9faa6e32 #s-Paragraph_16 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-b56c4295-dd0e-4567-89dc-16af9faa6e32 #s-Paragraph_16 .valign {
  vertical-align: top;
  text-align: center;
}
#s-b56c4295-dd0e-4567-89dc-16af9faa6e32 #s-Paragraph_16 span {
  color: #7F939C;
  text-align: center;
  text-decoration: none;
  font-family: 'Montserrat-Medium_wgt500',Arial;
  font-size: 9.0pt;
}
#s-b56c4295-dd0e-4567-89dc-16af9faa6e32 #s-Paragraph_16 span#rtr-s-Paragraph_16_0 {
  color: #7F939C;
  text-decoration: none;
  font-family: 'Montserrat-Medium_wgt500',Arial;
  font-size: 9.0pt;
}
#s-b56c4295-dd0e-4567-89dc-16af9faa6e32 #s-Paragraph_19 {
  position: absolute;
  width: 19.0px;
  min-height: 14.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat-Medium_wgt500',Arial;
}
#s-b56c4295-dd0e-4567-89dc-16af9faa6e32 #s-Paragraph_19 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-b56c4295-dd0e-4567-89dc-16af9faa6e32 #s-Paragraph_19 .valign {
  vertical-align: top;
  text-align: center;
}
#s-b56c4295-dd0e-4567-89dc-16af9faa6e32 #s-Paragraph_19 span {
  color: #7F939C;
  text-align: center;
  text-decoration: none;
  font-family: 'Montserrat-Medium_wgt500',Arial;
  font-size: 9.0pt;
}
#s-b56c4295-dd0e-4567-89dc-16af9faa6e32 #s-Paragraph_19 span#rtr-s-Paragraph_19_0 {
  color: #7F939C;
  text-decoration: none;
  font-family: 'Montserrat-Medium_wgt500',Arial;
  font-size: 9.0pt;
}
#s-b56c4295-dd0e-4567-89dc-16af9faa6e32 #s-Paragraph_20 {
  position: absolute;
  width: 19.000000000000227px;
  min-height: 14.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat-Medium_wgt500',Arial;
}
#s-b56c4295-dd0e-4567-89dc-16af9faa6e32 #s-Paragraph_20 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-b56c4295-dd0e-4567-89dc-16af9faa6e32 #s-Paragraph_20 .valign {
  vertical-align: top;
  text-align: center;
}
#s-b56c4295-dd0e-4567-89dc-16af9faa6e32 #s-Paragraph_20 span {
  color: #7F939C;
  text-align: center;
  text-decoration: none;
  font-family: 'Montserrat-Medium_wgt500',Arial;
  font-size: 9.0pt;
}
#s-b56c4295-dd0e-4567-89dc-16af9faa6e32 #s-Paragraph_20 span#rtr-s-Paragraph_20_0 {
  color: #7F939C;
  text-decoration: none;
  font-family: 'Montserrat-Medium_wgt500',Arial;
  font-size: 9.0pt;
}
#s-b56c4295-dd0e-4567-89dc-16af9faa6e32 #s-Paragraph_21 {
  position: absolute;
  width: 19.0px;
  min-height: 14.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat-Medium_wgt500',Arial;
}
#s-b56c4295-dd0e-4567-89dc-16af9faa6e32 #s-Paragraph_21 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-b56c4295-dd0e-4567-89dc-16af9faa6e32 #s-Paragraph_21 .valign {
  vertical-align: top;
  text-align: center;
}
#s-b56c4295-dd0e-4567-89dc-16af9faa6e32 #s-Paragraph_21 span {
  color: #7F939C;
  text-align: center;
  text-decoration: none;
  font-family: 'Montserrat-Medium_wgt500',Arial;
  font-size: 9.0pt;
}
#s-b56c4295-dd0e-4567-89dc-16af9faa6e32 #s-Paragraph_21 span#rtr-s-Paragraph_21_0 {
  color: #7F939C;
  text-decoration: none;
  font-family: 'Montserrat-Medium_wgt500',Arial;
  font-size: 9.0pt;
}
#s-b56c4295-dd0e-4567-89dc-16af9faa6e32 #s-Rectangle_15 {
  position: absolute;
  width: 88.01840867735712px;
  min-height: 25.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-b56c4295-dd0e-4567-89dc-16af9faa6e32 #s-Rectangle_15 > .backgroundLayer {
  border-top-left-radius: 5.0px;
  border-top-right-radius: 5.0px;
  border-bottom-right-radius: 5.0px;
  border-bottom-left-radius: 5.0px;
}
#s-b56c4295-dd0e-4567-89dc-16af9faa6e32 #s-Rectangle_15 > .backgroundLayer > .colorLayer {
  background-color: #434343;
}
#s-b56c4295-dd0e-4567-89dc-16af9faa6e32 #s-Rectangle_15 > .borderLayer {
  border-top-left-radius: 5.0px;
  border-top-right-radius: 5.0px;
  border-bottom-right-radius: 5.0px;
  border-bottom-left-radius: 5.0px;
}
#s-b56c4295-dd0e-4567-89dc-16af9faa6e32 #s-Rectangle_15 > .backgroundLayer {
  border-top-left-radius: 5.0px;
  border-top-right-radius: 5.0px;
  border-bottom-right-radius: 5.0px;
  border-bottom-left-radius: 5.0px;
}
#s-b56c4295-dd0e-4567-89dc-16af9faa6e32 #s-Rectangle_15 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-b56c4295-dd0e-4567-89dc-16af9faa6e32 #s-Rectangle_15 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-b56c4295-dd0e-4567-89dc-16af9faa6e32 #s-Rectangle_15 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-b56c4295-dd0e-4567-89dc-16af9faa6e32 #s-Rectangle_15 span#rtr-s-Rectangle_15_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-b56c4295-dd0e-4567-89dc-16af9faa6e32 #s-Paragraph_23 {
  position: absolute;
  width: 100.06640625px;
  min-height: 15.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-b56c4295-dd0e-4567-89dc-16af9faa6e32 #s-Paragraph_23 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-b56c4295-dd0e-4567-89dc-16af9faa6e32 #s-Paragraph_23 .valign {
  vertical-align: top;
  text-align: center;
}
#s-b56c4295-dd0e-4567-89dc-16af9faa6e32 #s-Paragraph_23 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-b56c4295-dd0e-4567-89dc-16af9faa6e32 #s-Paragraph_23 span#rtr-s-Paragraph_23_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-b56c4295-dd0e-4567-89dc-16af9faa6e32 #s-Path_17 {
  position: absolute;
  width: 8.48529052734375px;
  height: 5.242641448974609px;
}
#s-b56c4295-dd0e-4567-89dc-16af9faa6e32 #s-Path_18 {
  position: absolute;
  width: 18.400177001953125px;
  height: 18.46722412109375px;
}
#s-b56c4295-dd0e-4567-89dc-16af9faa6e32 #s-Path_19 {
  position: absolute;
  width: 5.000091552734375px;
  height: 5.022430419921875px;
}
#s-b56c4295-dd0e-4567-89dc-16af9faa6e32 #shapewrapper-s-Ellipse_4 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-b56c4295-dd0e-4567-89dc-16af9faa6e32 #shapewrapper-s-Ellipse_4 .content {
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-b56c4295-dd0e-4567-89dc-16af9faa6e32 #shapewrapper-s-Ellipse_4 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-b56c4295-dd0e-4567-89dc-16af9faa6e32 #s-Ellipse_4 {
  width: 8.534581157813307px;
  height: 8.481255406599018px;
  min-height: 8.481255406599018px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  stroke-width: 4.0px;
  stroke: #999999;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#s-b56c4295-dd0e-4567-89dc-16af9faa6e32 #shapewrapper-s-Ellipse_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-b56c4295-dd0e-4567-89dc-16af9faa6e32 #shapewrapper-s-Ellipse_4 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-b56c4295-dd0e-4567-89dc-16af9faa6e32 #shapewrapper-s-Ellipse_4 span#rtr-s-Ellipse_4_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-b56c4295-dd0e-4567-89dc-16af9faa6e32 #shapewrapper-s-Ellipse_1 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-b56c4295-dd0e-4567-89dc-16af9faa6e32 #shapewrapper-s-Ellipse_1 .content {
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-b56c4295-dd0e-4567-89dc-16af9faa6e32 #shapewrapper-s-Ellipse_1 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-b56c4295-dd0e-4567-89dc-16af9faa6e32 #s-Ellipse_1 {
  width: 181.98053260790581px;
  height: 181.98053260790567px;
  min-height: 181.98053260790567px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  stroke-width: 44.0px;
  stroke: #D9D9D9;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#s-b56c4295-dd0e-4567-89dc-16af9faa6e32 #shapewrapper-s-Ellipse_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-b56c4295-dd0e-4567-89dc-16af9faa6e32 #shapewrapper-s-Ellipse_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-b56c4295-dd0e-4567-89dc-16af9faa6e32 #shapewrapper-s-Ellipse_1 span#rtr-s-Ellipse_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-b56c4295-dd0e-4567-89dc-16af9faa6e32 #s-Mask_1 {
  position: absolute;
  width: 209.53524780273438px;
  height: 212.50741577148438px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-b56c4295-dd0e-4567-89dc-16af9faa6e32 #shapewrapper-s-Ellipse_3 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-b56c4295-dd0e-4567-89dc-16af9faa6e32 #shapewrapper-s-Ellipse_3 .content {
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-b56c4295-dd0e-4567-89dc-16af9faa6e32 #shapewrapper-s-Ellipse_3 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-b56c4295-dd0e-4567-89dc-16af9faa6e32 #s-Ellipse_3 {
  width: 15.487704902800587px;
  height: 15.487704902800374px;
  min-height: 15.487704902800374px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  stroke-width: 10.0px;
  stroke: #000000;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#s-b56c4295-dd0e-4567-89dc-16af9faa6e32 #shapewrapper-s-Ellipse_3 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-b56c4295-dd0e-4567-89dc-16af9faa6e32 #shapewrapper-s-Ellipse_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-b56c4295-dd0e-4567-89dc-16af9faa6e32 #shapewrapper-s-Ellipse_3 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-b56c4295-dd0e-4567-89dc-16af9faa6e32 #shapewrapper-s-Ellipse_3 span#rtr-s-Ellipse_3_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-b56c4295-dd0e-4567-89dc-16af9faa6e32 #s-Paragraph_22 {
  position: absolute;
  width: 104.54200809390318px;
  min-height: 47.23749995354143px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-b56c4295-dd0e-4567-89dc-16af9faa6e32 #s-Paragraph_22 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-b56c4295-dd0e-4567-89dc-16af9faa6e32 #s-Paragraph_22 .valign {
  vertical-align: top;
  text-align: center;
}
#s-b56c4295-dd0e-4567-89dc-16af9faa6e32 #s-Paragraph_22 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-b56c4295-dd0e-4567-89dc-16af9faa6e32 #s-Paragraph_22 span#rtr-s-Paragraph_22_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-b56c4295-dd0e-4567-89dc-16af9faa6e32 #s-Paragraph_22 span#rtr-s-Paragraph_22_1 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-b56c4295-dd0e-4567-89dc-16af9faa6e32 #s-Paragraph_22 span#rtr-s-Paragraph_22_2 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-b56c4295-dd0e-4567-89dc-16af9faa6e32 #s-Rectangle_1 {
  position: absolute;
  width: 322.9250011444093px;
  min-height: 46.99999999999997px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-b56c4295-dd0e-4567-89dc-16af9faa6e32 #s-Rectangle_1 > .backgroundLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-b56c4295-dd0e-4567-89dc-16af9faa6e32 #s-Rectangle_1 > .backgroundLayer > .colorLayer {
  background-color: #D9D9D9;
}
#s-b56c4295-dd0e-4567-89dc-16af9faa6e32 #s-Rectangle_1 > .borderLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-b56c4295-dd0e-4567-89dc-16af9faa6e32 #s-Rectangle_1 > .backgroundLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-b56c4295-dd0e-4567-89dc-16af9faa6e32 #s-Rectangle_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-b56c4295-dd0e-4567-89dc-16af9faa6e32 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-b56c4295-dd0e-4567-89dc-16af9faa6e32 #s-Rectangle_1 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-b56c4295-dd0e-4567-89dc-16af9faa6e32 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-b56c4295-dd0e-4567-89dc-16af9faa6e32 #s-Rectangle_2 {
  position: absolute;
  width: 158.96158933639498px;
  min-height: 42.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-b56c4295-dd0e-4567-89dc-16af9faa6e32 #s-Rectangle_2 > .backgroundLayer {
  border-top-left-radius: 9.0px;
  border-top-right-radius: 9.0px;
  border-bottom-right-radius: 9.0px;
  border-bottom-left-radius: 9.0px;
}
#s-b56c4295-dd0e-4567-89dc-16af9faa6e32 #s-Rectangle_2 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-b56c4295-dd0e-4567-89dc-16af9faa6e32 #s-Rectangle_2 > .borderLayer {
  border-top-left-radius: 9.0px;
  border-top-right-radius: 9.0px;
  border-bottom-right-radius: 9.0px;
  border-bottom-left-radius: 9.0px;
}
#s-b56c4295-dd0e-4567-89dc-16af9faa6e32 #s-Rectangle_2 > .backgroundLayer {
  border-top-left-radius: 9.0px;
  border-top-right-radius: 9.0px;
  border-bottom-right-radius: 9.0px;
  border-bottom-left-radius: 9.0px;
}
#s-b56c4295-dd0e-4567-89dc-16af9faa6e32 #s-Rectangle_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-b56c4295-dd0e-4567-89dc-16af9faa6e32 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-b56c4295-dd0e-4567-89dc-16af9faa6e32 #s-Rectangle_2 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-b56c4295-dd0e-4567-89dc-16af9faa6e32 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-b56c4295-dd0e-4567-89dc-16af9faa6e32 #s-Paragraph_2 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-b56c4295-dd0e-4567-89dc-16af9faa6e32 #s-Paragraph_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-b56c4295-dd0e-4567-89dc-16af9faa6e32 #s-Paragraph_2 .valign {
  vertical-align: top;
  text-align: left;
}
#s-b56c4295-dd0e-4567-89dc-16af9faa6e32 #s-Paragraph_2 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-b56c4295-dd0e-4567-89dc-16af9faa6e32 #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-b56c4295-dd0e-4567-89dc-16af9faa6e32 #s-Paragraph_3 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-b56c4295-dd0e-4567-89dc-16af9faa6e32 #s-Paragraph_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-b56c4295-dd0e-4567-89dc-16af9faa6e32 #s-Paragraph_3 .valign {
  vertical-align: top;
  text-align: left;
}
#s-b56c4295-dd0e-4567-89dc-16af9faa6e32 #s-Paragraph_3 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-b56c4295-dd0e-4567-89dc-16af9faa6e32 #s-Paragraph_3 span#rtr-s-Paragraph_3_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-b56c4295-dd0e-4567-89dc-16af9faa6e32 #s-Paragraph_4 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-b56c4295-dd0e-4567-89dc-16af9faa6e32 #s-Paragraph_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-b56c4295-dd0e-4567-89dc-16af9faa6e32 #s-Paragraph_4 .valign {
  vertical-align: top;
  text-align: left;
}
#s-b56c4295-dd0e-4567-89dc-16af9faa6e32 #s-Paragraph_4 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 700;
}
#s-b56c4295-dd0e-4567-89dc-16af9faa6e32 #s-Paragraph_4 span#rtr-s-Paragraph_4_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 700;
}
#s-b56c4295-dd0e-4567-89dc-16af9faa6e32 #s-Path_5 {
  position: absolute;
  width: 376.8374938964844px;
  height: 2.0px;
}
#s-b56c4295-dd0e-4567-89dc-16af9faa6e32 #s-Rectangle_3 {
  position: absolute;
  width: 374.0px;
  min-height: 96.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-b56c4295-dd0e-4567-89dc-16af9faa6e32 #s-Rectangle_3 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-b56c4295-dd0e-4567-89dc-16af9faa6e32 #s-Rectangle_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-b56c4295-dd0e-4567-89dc-16af9faa6e32 #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-b56c4295-dd0e-4567-89dc-16af9faa6e32 #s-Rectangle_3 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-b56c4295-dd0e-4567-89dc-16af9faa6e32 #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-b56c4295-dd0e-4567-89dc-16af9faa6e32 #shapewrapper-s-Ellipse_5 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-b56c4295-dd0e-4567-89dc-16af9faa6e32 #shapewrapper-s-Ellipse_5 .content {
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-b56c4295-dd0e-4567-89dc-16af9faa6e32 #shapewrapper-s-Ellipse_5 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-b56c4295-dd0e-4567-89dc-16af9faa6e32 #s-Ellipse_5 {
  width: 69.03952268012947px;
  height: 68.83030948648354px;
  min-height: 68.83030948648354px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#s-b56c4295-dd0e-4567-89dc-16af9faa6e32 #shapewrapper-s-Ellipse_5 > .backgroundLayer > .colorLayer {
  background-color: #3A3A3A;
}
#s-b56c4295-dd0e-4567-89dc-16af9faa6e32 #shapewrapper-s-Ellipse_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-b56c4295-dd0e-4567-89dc-16af9faa6e32 #shapewrapper-s-Ellipse_5 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-b56c4295-dd0e-4567-89dc-16af9faa6e32 #shapewrapper-s-Ellipse_5 span#rtr-s-Ellipse_5_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-b56c4295-dd0e-4567-89dc-16af9faa6e32 #s-Path_6 {
  position: absolute;
  width: 37.41600036621094px;
  height: 30.54934310913086px;
}
#s-b56c4295-dd0e-4567-89dc-16af9faa6e32 #s-Path_7 {
  position: absolute;
  width: 25.50536346435547px;
  height: 23.0px;
}
#s-b56c4295-dd0e-4567-89dc-16af9faa6e32 #s-Paragraph_5 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Medium_wgt500',Arial;
}
#s-b56c4295-dd0e-4567-89dc-16af9faa6e32 #s-Paragraph_5 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-b56c4295-dd0e-4567-89dc-16af9faa6e32 #s-Paragraph_5 .valign {
  vertical-align: top;
  text-align: left;
}
#s-b56c4295-dd0e-4567-89dc-16af9faa6e32 #s-Paragraph_5 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Medium_wgt500',Arial;
  font-size: 8.25pt;
}
#s-b56c4295-dd0e-4567-89dc-16af9faa6e32 #s-Paragraph_5 span#rtr-s-Paragraph_5_0 {
  color: #808080;
  text-decoration: none;
  font-family: 'Roboto-Medium_wgt500',Arial;
  font-size: 8.25pt;
}
#s-b56c4295-dd0e-4567-89dc-16af9faa6e32 #s-Path_10 {
  position: absolute;
  width: 23.0px;
  height: 23.689292907714844px;
}
#s-b56c4295-dd0e-4567-89dc-16af9faa6e32 #s-Paragraph_6 {
  position: absolute;
  width: 43.20898437499997px;
  min-height: 14.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Bold_wgt700',Arial;
}
#s-b56c4295-dd0e-4567-89dc-16af9faa6e32 #s-Paragraph_6 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-b56c4295-dd0e-4567-89dc-16af9faa6e32 #s-Paragraph_6 .valign {
  vertical-align: top;
  text-align: center;
}
#s-b56c4295-dd0e-4567-89dc-16af9faa6e32 #s-Paragraph_6 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold_wgt700',Arial;
  font-size: 8.25pt;
}
#s-b56c4295-dd0e-4567-89dc-16af9faa6e32 #s-Paragraph_6 span#rtr-s-Paragraph_6_0 {
  color: #808080;
  text-decoration: none;
  font-family: 'Roboto-Bold_wgt700',Arial;
  font-size: 8.25pt;
}
#s-b56c4295-dd0e-4567-89dc-16af9faa6e32 #s-Paragraph_7 {
  position: absolute;
  width: 40.296386718750085px;
  min-height: 28.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Medium_wgt500',Arial;
}
#s-b56c4295-dd0e-4567-89dc-16af9faa6e32 #s-Paragraph_7 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-b56c4295-dd0e-4567-89dc-16af9faa6e32 #s-Paragraph_7 .valign {
  vertical-align: top;
  text-align: center;
}
#s-b56c4295-dd0e-4567-89dc-16af9faa6e32 #s-Paragraph_7 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Medium_wgt500',Arial;
  font-size: 8.25pt;
}
#s-b56c4295-dd0e-4567-89dc-16af9faa6e32 #s-Paragraph_7 span#rtr-s-Paragraph_7_0 {
  color: #808080;
  text-decoration: none;
  font-family: 'Roboto-Medium_wgt500',Arial;
  font-size: 8.25pt;
}
#s-b56c4295-dd0e-4567-89dc-16af9faa6e32 #s-Paragraph_8 {
  position: absolute;
  width: 26.67999999999995px;
  min-height: 26.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Bold_wgt700',Arial;
}
#s-b56c4295-dd0e-4567-89dc-16af9faa6e32 #s-Paragraph_8 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-b56c4295-dd0e-4567-89dc-16af9faa6e32 #s-Paragraph_8 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-b56c4295-dd0e-4567-89dc-16af9faa6e32 #s-Paragraph_8 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold_wgt700',Arial;
  font-size: 15.0pt;
}
#s-b56c4295-dd0e-4567-89dc-16af9faa6e32 #s-Paragraph_8 span#rtr-s-Paragraph_8_0 {
  color: #808080;
  text-decoration: none;
  font-family: 'Roboto-Bold_wgt700',Arial;
  font-size: 15.0pt;
}
#s-b56c4295-dd0e-4567-89dc-16af9faa6e32 #s-Path_11 {
  position: absolute;
  width: 27.17999267578125px;
  height: 25.5px;
}
#s-b56c4295-dd0e-4567-89dc-16af9faa6e32 #s-Path_20 {
  position: absolute;
  width: 24.999847412109375px;
  height: 25.0px;
}
#s-b56c4295-dd0e-4567-89dc-16af9faa6e32 #s-Paragraph_9 {
  position: absolute;
  width: 55.108564928967326px;
  min-height: 14.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Medium_wgt500',Arial;
}
#s-b56c4295-dd0e-4567-89dc-16af9faa6e32 #s-Paragraph_9 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-b56c4295-dd0e-4567-89dc-16af9faa6e32 #s-Paragraph_9 .valign {
  vertical-align: top;
  text-align: center;
}
#s-b56c4295-dd0e-4567-89dc-16af9faa6e32 #s-Paragraph_9 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Medium_wgt500',Arial;
  font-size: 8.25pt;
}
#s-b56c4295-dd0e-4567-89dc-16af9faa6e32 #s-Paragraph_9 span#rtr-s-Paragraph_9_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Medium_wgt500',Arial;
  font-size: 8.25pt;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-b56c4295-dd0e-4567-89dc-16af9faa6e32 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}