#t-c3dd0131-f40d-41a3-834d-eb438a801e08 > #backgroundBox {
  background-color: #FFFFFF;
  position: absolute;
}
#t-c3dd0131-f40d-41a3-834d-eb438a801e08 > #alignmentBox {
  position: relative;
  max-width: 375.0px;
  max-height: 812.0px;
  width: 100%;
  height: 100%;
}
#t-c3dd0131-f40d-41a3-834d-eb438a801e08 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}