#m-687199c2-9186-4112-8c34-7332ca36e33e #Rectangle_1 {
  position: absolute;
  width: 374.0px;
  min-height: 96.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#m-687199c2-9186-4112-8c34-7332ca36e33e #Rectangle_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#m-687199c2-9186-4112-8c34-7332ca36e33e #Rectangle_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#m-687199c2-9186-4112-8c34-7332ca36e33e #Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#m-687199c2-9186-4112-8c34-7332ca36e33e #Rectangle_1 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#m-687199c2-9186-4112-8c34-7332ca36e33e #Rectangle_1 span#rtr-Rectangle_1_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#m-687199c2-9186-4112-8c34-7332ca36e33e #shapewrapper-Ellipse_1 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#m-687199c2-9186-4112-8c34-7332ca36e33e #shapewrapper-Ellipse_1 .content {
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#m-687199c2-9186-4112-8c34-7332ca36e33e #shapewrapper-Ellipse_1 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#m-687199c2-9186-4112-8c34-7332ca36e33e #Ellipse_1 {
  width: 69.03952268012947px;
  height: 68.83030948648354px;
  min-height: 68.83030948648354px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#m-687199c2-9186-4112-8c34-7332ca36e33e #shapewrapper-Ellipse_1 > .backgroundLayer > .colorLayer {
  background-color: #3A3A3A;
}
#m-687199c2-9186-4112-8c34-7332ca36e33e #shapewrapper-Ellipse_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#m-687199c2-9186-4112-8c34-7332ca36e33e #shapewrapper-Ellipse_1 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#m-687199c2-9186-4112-8c34-7332ca36e33e #shapewrapper-Ellipse_1 span#rtr-Ellipse_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#m-687199c2-9186-4112-8c34-7332ca36e33e #Path_1 {
  position: absolute;
  width: 37.41600036621094px;
  height: 30.54934310913086px;
}
#m-687199c2-9186-4112-8c34-7332ca36e33e #Path_2 {
  position: absolute;
  width: 25.50536346435547px;
  height: 23.0px;
}
#m-687199c2-9186-4112-8c34-7332ca36e33e #Paragraph_1 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Medium_wgt500',Arial;
}
#m-687199c2-9186-4112-8c34-7332ca36e33e #Paragraph_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#m-687199c2-9186-4112-8c34-7332ca36e33e #Paragraph_1 .valign {
  vertical-align: top;
  text-align: left;
}
#m-687199c2-9186-4112-8c34-7332ca36e33e #Paragraph_1 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Medium_wgt500',Arial;
  font-size: 8.25pt;
}
#m-687199c2-9186-4112-8c34-7332ca36e33e #Paragraph_1 span#rtr-Paragraph_1_0 {
  color: #808080;
  text-decoration: none;
  font-family: 'Roboto-Medium_wgt500',Arial;
  font-size: 8.25pt;
}
#m-687199c2-9186-4112-8c34-7332ca36e33e #Path_3 {
  position: absolute;
  width: 23.0px;
  height: 23.689292907714844px;
}
#m-687199c2-9186-4112-8c34-7332ca36e33e #Paragraph_2 {
  position: absolute;
  width: 43.20898437499997px;
  min-height: 14.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Bold_wgt700',Arial;
}
#m-687199c2-9186-4112-8c34-7332ca36e33e #Paragraph_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#m-687199c2-9186-4112-8c34-7332ca36e33e #Paragraph_2 .valign {
  vertical-align: top;
  text-align: center;
}
#m-687199c2-9186-4112-8c34-7332ca36e33e #Paragraph_2 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold_wgt700',Arial;
  font-size: 8.25pt;
}
#m-687199c2-9186-4112-8c34-7332ca36e33e #Paragraph_2 span#rtr-Paragraph_2_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Bold_wgt700',Arial;
  font-size: 8.25pt;
}
#m-687199c2-9186-4112-8c34-7332ca36e33e #Paragraph_3 {
  position: absolute;
  width: 40.296386718750085px;
  min-height: 28.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Medium_wgt500',Arial;
}
#m-687199c2-9186-4112-8c34-7332ca36e33e #Paragraph_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#m-687199c2-9186-4112-8c34-7332ca36e33e #Paragraph_3 .valign {
  vertical-align: top;
  text-align: center;
}
#m-687199c2-9186-4112-8c34-7332ca36e33e #Paragraph_3 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Medium_wgt500',Arial;
  font-size: 8.25pt;
}
#m-687199c2-9186-4112-8c34-7332ca36e33e #Paragraph_3 span#rtr-Paragraph_3_0 {
  color: #808080;
  text-decoration: none;
  font-family: 'Roboto-Medium_wgt500',Arial;
  font-size: 8.25pt;
}
#m-687199c2-9186-4112-8c34-7332ca36e33e #Paragraph_4 {
  position: absolute;
  width: 26.67999999999995px;
  min-height: 26.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Bold_wgt700',Arial;
}
#m-687199c2-9186-4112-8c34-7332ca36e33e #Paragraph_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#m-687199c2-9186-4112-8c34-7332ca36e33e #Paragraph_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#m-687199c2-9186-4112-8c34-7332ca36e33e #Paragraph_4 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold_wgt700',Arial;
  font-size: 15.0pt;
}
#m-687199c2-9186-4112-8c34-7332ca36e33e #Paragraph_4 span#rtr-Paragraph_4_0 {
  color: #808080;
  text-decoration: none;
  font-family: 'Roboto-Bold_wgt700',Arial;
  font-size: 15.0pt;
}
#m-687199c2-9186-4112-8c34-7332ca36e33e #Path_4 {
  position: absolute;
  width: 27.17999267578125px;
  height: 25.5px;
}
#m-687199c2-9186-4112-8c34-7332ca36e33e #Path_5 {
  position: absolute;
  width: 24.999847412109375px;
  height: 25.0px;
}
#m-687199c2-9186-4112-8c34-7332ca36e33e #Paragraph_5 {
  position: absolute;
  width: 55.108564928967326px;
  min-height: 14.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Medium_wgt500',Arial;
}
#m-687199c2-9186-4112-8c34-7332ca36e33e #Paragraph_5 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#m-687199c2-9186-4112-8c34-7332ca36e33e #Paragraph_5 .valign {
  vertical-align: top;
  text-align: center;
}
#m-687199c2-9186-4112-8c34-7332ca36e33e #Paragraph_5 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Medium_wgt500',Arial;
  font-size: 8.25pt;
}
#m-687199c2-9186-4112-8c34-7332ca36e33e #Paragraph_5 span#rtr-Paragraph_5_0 {
  color: #808080;
  text-decoration: none;
  font-family: 'Roboto-Medium_wgt500',Arial;
  font-size: 8.25pt;
}
.m-687199c2-9186-4112-8c34-7332ca36e33e #shapewrapper-Ellipse_1 .valign {
  vertical-align: middle;
  text-align: left;
}
.m-687199c2-9186-4112-8c34-7332ca36e33e #shapewrapper-Ellipse_1 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
.m-687199c2-9186-4112-8c34-7332ca36e33e #Paragraph_1 span#rtr-Paragraph_1_0 {
  color: #808080;
  text-decoration: none;
  font-family: 'Roboto-Medium_wgt500',Arial;
  font-size: 8.25pt;
}
.m-687199c2-9186-4112-8c34-7332ca36e33e #Paragraph_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
.m-687199c2-9186-4112-8c34-7332ca36e33e #Path_5 {
  position: absolute;
  width: 24.999847412109375px;
  height: 25.0px;
}
.m-687199c2-9186-4112-8c34-7332ca36e33e #Rectangle_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
.m-687199c2-9186-4112-8c34-7332ca36e33e #shapewrapper-Ellipse_1 > .backgroundLayer > .colorLayer {
  background-color: #3A3A3A;
}
.m-687199c2-9186-4112-8c34-7332ca36e33e #Paragraph_4 {
  position: absolute;
  width: 26.67999999999995px;
  min-height: 26.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Bold_wgt700',Arial;
}
.m-687199c2-9186-4112-8c34-7332ca36e33e #Ellipse_1 {
  width: 69.03952268012947px;
  height: 68.83030948648354px;
  min-height: 68.83030948648354px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
.m-687199c2-9186-4112-8c34-7332ca36e33e #Path_2 {
  position: absolute;
  width: 25.50536346435547px;
  height: 23.0px;
}
.m-687199c2-9186-4112-8c34-7332ca36e33e #Paragraph_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
.m-687199c2-9186-4112-8c34-7332ca36e33e #Paragraph_5 {
  position: absolute;
  width: 55.108564928967326px;
  min-height: 14.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Medium_wgt500',Arial;
}
.m-687199c2-9186-4112-8c34-7332ca36e33e #Paragraph_5 .valign {
  vertical-align: top;
  text-align: center;
}
.m-687199c2-9186-4112-8c34-7332ca36e33e #shapewrapper-Ellipse_1 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
.m-687199c2-9186-4112-8c34-7332ca36e33e #Path_1 {
  position: absolute;
  width: 37.41600036621094px;
  height: 30.54934310913086px;
}
.m-687199c2-9186-4112-8c34-7332ca36e33e #Paragraph_3 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Medium_wgt500',Arial;
  font-size: 8.25pt;
}
.m-687199c2-9186-4112-8c34-7332ca36e33e #Paragraph_2 span#rtr-Paragraph_2_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Bold_wgt700',Arial;
  font-size: 8.25pt;
}
.m-687199c2-9186-4112-8c34-7332ca36e33e #Path_4 {
  position: absolute;
  width: 27.17999267578125px;
  height: 25.5px;
}
.m-687199c2-9186-4112-8c34-7332ca36e33e #Paragraph_4 span#rtr-Paragraph_4_0 {
  color: #808080;
  text-decoration: none;
  font-family: 'Roboto-Bold_wgt700',Arial;
  font-size: 15.0pt;
}
.m-687199c2-9186-4112-8c34-7332ca36e33e #Paragraph_3 .valign {
  vertical-align: top;
  text-align: center;
}
.m-687199c2-9186-4112-8c34-7332ca36e33e #Paragraph_4 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold_wgt700',Arial;
  font-size: 15.0pt;
}
.m-687199c2-9186-4112-8c34-7332ca36e33e #Rectangle_1 span#rtr-Rectangle_1_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
.m-687199c2-9186-4112-8c34-7332ca36e33e #Paragraph_2 .valign {
  vertical-align: top;
  text-align: center;
}
.m-687199c2-9186-4112-8c34-7332ca36e33e #Paragraph_4 .valign {
  vertical-align: middle;
  text-align: center;
}
.m-687199c2-9186-4112-8c34-7332ca36e33e #Paragraph_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
.m-687199c2-9186-4112-8c34-7332ca36e33e #Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
.m-687199c2-9186-4112-8c34-7332ca36e33e #Paragraph_1 .valign {
  vertical-align: top;
  text-align: left;
}
.m-687199c2-9186-4112-8c34-7332ca36e33e #Paragraph_1 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Medium_wgt500',Arial;
}
.m-687199c2-9186-4112-8c34-7332ca36e33e #Paragraph_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
.m-687199c2-9186-4112-8c34-7332ca36e33e #Rectangle_1 {
  position: absolute;
  width: 374.0px;
  min-height: 96.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
.m-687199c2-9186-4112-8c34-7332ca36e33e #Path_3 {
  position: absolute;
  width: 23.0px;
  height: 23.689292907714844px;
}
.m-687199c2-9186-4112-8c34-7332ca36e33e #Paragraph_3 span#rtr-Paragraph_3_0 {
  color: #808080;
  text-decoration: none;
  font-family: 'Roboto-Medium_wgt500',Arial;
  font-size: 8.25pt;
}
.m-687199c2-9186-4112-8c34-7332ca36e33e #Paragraph_5 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Medium_wgt500',Arial;
  font-size: 8.25pt;
}
.m-687199c2-9186-4112-8c34-7332ca36e33e #shapewrapper-Ellipse_1 span#rtr-Ellipse_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
.m-687199c2-9186-4112-8c34-7332ca36e33e #Paragraph_2 {
  position: absolute;
  width: 43.20898437499997px;
  min-height: 14.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Bold_wgt700',Arial;
}
.m-687199c2-9186-4112-8c34-7332ca36e33e #Paragraph_5 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
.m-687199c2-9186-4112-8c34-7332ca36e33e #shapewrapper-Ellipse_1 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
.m-687199c2-9186-4112-8c34-7332ca36e33e #Paragraph_3 {
  position: absolute;
  width: 40.296386718750085px;
  min-height: 28.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Medium_wgt500',Arial;
}
.m-687199c2-9186-4112-8c34-7332ca36e33e #Paragraph_5 span#rtr-Paragraph_5_0 {
  color: #808080;
  text-decoration: none;
  font-family: 'Roboto-Medium_wgt500',Arial;
  font-size: 8.25pt;
}
.m-687199c2-9186-4112-8c34-7332ca36e33e #Rectangle_1 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
.m-687199c2-9186-4112-8c34-7332ca36e33e #shapewrapper-Ellipse_1 .content {
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
.m-687199c2-9186-4112-8c34-7332ca36e33e #Rectangle_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
.m-687199c2-9186-4112-8c34-7332ca36e33e #Paragraph_1 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Medium_wgt500',Arial;
  font-size: 8.25pt;
}
.m-687199c2-9186-4112-8c34-7332ca36e33e #Paragraph_2 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold_wgt700',Arial;
  font-size: 8.25pt;
}
#loadMark-m-687199c2-9186-4112-8c34-7332ca36e33e {
  width: 1px;
  visibility: hidden;
  display: none;
}
#m-687199c2-9186-4112-8c34-7332ca36e33e.master > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}